.script-shard-count {
    font-size: 0.75rem;
    display: block;
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: -0.125rem;
    color: #80058b;
    text-shadow: 1px 1px 0 #fff, -1px 1px 0 #fff, -1px -1px 0 #fff, 1px -1px 0 #fff;

    .club_champions_rewards_container & {
        bottom: auto;
        top: -0.1875rem;
    }

    .leagues_girl_reward_container & {
        font-size: 0.6rem;

        .shard {
            height: 0.8rem;
            width: 0.8rem;
        }
    }

    .shard {
        height: 1rem;
        width: 1rem;
        margin-left: -0.25rem;
        display: inline-block;
        background-size: 140%;
        background-position: center;
    }

    #pre-battle #opponent-panel .fighter-rewards .pantheon-rewards & {
        display: none;
    }
}

.leagues_girl_reward_container .girl_ico {
    position: relative;
}

#season-arena .season_arena_block.opponent .opponent_rewards {
    .arena-rewards-list.script-has-girl-reward {
        .slot {
            width: 30px;
            & > img {
                height: auto;
            }
            &.slot_gems {
                & > img {
                    margin-left: 1px;
                }
            }
            &.slot_season_affection_girl p:nth-child(2),
            &.slot_season_xp_girl p:nth-child(2) {
                font-size: 12px;
            }
        }
    }
}
