@import "../../common/constants.scss";

#shops #inventory {
    button[rel="sell"].hidden {
        display: none;
    }

    .hide-sell-toggle {
        width: -moz-fit-content;
        width: fit-content;
        padding: 1px 14px;

        @media #{$mediaDesktop} {
            margin-top: -28px;
        }

        @media #{$mediaMobile} {
            margin-top: 0;
            position: absolute;
            bottom: -32px;
            right: 24px;

            input {
                height: 22px;
                width: 22px;
            }
        }
    }
}
