img[src*="/pictures/girls/"],
img[src*="/pictures/backgrounds/"],
img[src*="/pictures/worlds/"],
img[src*="/pictures/maps/"],
img[src*="/pictures/gallery/"],
img[src*="/pictures/trolls/"],
img[src*="/pictures/items/"],
img[src*="/pictures/design/battle_positions"],
img[src*="/pictures/design/pachinko"],
img[src*="/pictures/design/daily_goals_side"],
img[src*="/pictures/design/payments"],
img[src*="/pictures/design/el_teams-girls.png"],
img[src*="/pictures/misc/events"],
img[src*="/pictures/misc/places_of_power"],
img[src*="/pictures/misc/missions"],
img[src*="/pictures/misc/shops/shopkeeper.png"],
img[src*="/pictures/hero/ico/"],
img[src*="/pictures/club_champions/"],
img[src*="/pictures/champions/"],
img[src*="/pictures/sex_god_path/"],
img[src*="/pictures/pantheon/"],
img[src*="/img/quests/"],
img[src*="/leagues/"],
img[src*="/images/members/"],
#popups #popup_news .news_thumb .news_thumb_pic,
#popups #popup_news .news_page_content .news_page_pic,
#popups #scene_popup,
#popups #no_HC .product-background.integrated,
#contests > div > div.left_part > .scroll_area > .contest > .contest_header {
    filter: blur(20px) !important;
}
