@use "sass:map";

$pops: (
    "1" "HC" "shard",
    "2" "KH" "shard",
    "3" "CH" "shard",
    "4" "HC" "ymen",
    "5" "CH" "ymen",
    "6" "KH" "ymen",
    "7" "HC" "koban",
    "8" "CH" "koban",
    "9" "KH" "koban",
    "10" "HC" "gem",
    "11" "CH" "gem",
    "12" "KH" "gem",
    "13" "HC" "orb",
    "14" "CH" "orb",
    "15" "KH" "orb",
    "16" "HC" "booster",
    "17" "CH" "booster",
    "18" "KH" "booster",
    "19" "HC" "ticket",
    "20" "CH" "ticket",
    "21" "KH" "ticket",
    "22" "HC" "gift",
    "23" "CH" "gift",
    "24" "KH" "gift"
);
$classIcons: (
    HC: var(--compact-pop-class-icon-hc),
    CH: var(--compact-pop-class-icon-ch),
    KH: var(--compact-pop-class-icon-kh),
);
$rewardIcons: (
    shard: var(--compact-pop-reward-icon-shard),
    ymen: var(--compact-pop-reward-icon-ymen),
    koban: var(--compact-pop-reward-icon-koban),
    gem: var(--compact-pop-reward-icon-gem),
    orb: var(--compact-pop-reward-icon-orb),
    booster: var(--compact-pop-reward-icon-booster),
    ticket: var(--compact-pop-reward-icon-ticket),
    gift: var(--compact-pop-reward-icon-gift),
);
$rewardBorders: (
    shard: #d561e6,
    ymen: #565656,
    koban: #d9d9d9,
    gem: #1ddf3e,
    orb: #0155d1,
    booster: #ec0039,
    ticket: #e95a06,
    gift: #ffb244,
);
$rewardBGSizes: (
    shard: 28px 28px,
);

.pop_thumb_title {
    display: none;
}

.pop_thumb > img {
    border-radius: 0;
    position: relative;
    top: -27px;
    z-index: -1;
    float: left;
}

.pop_thumb.pop_thumb_greyed_out > img {
    top: 0px;
}

.pop_thumb_progress_bar {
    margin-top: 25px;
}

#pop .pop_list .pop_list_scrolling_area {
    .pop_thumb {
        & > .pop_thumb_space {
            height: 60px;
            display: block !important;
        }

        &.pop_thumb_active[status="pending_reward"] > .pop_thumb_space {
            top: -137px;
            position: relative;
        }

        & > .pop_thumb_level {
            top: -102px;
        }
    }

    .pop_thumb_selected .pop_thumb_progress_bar,
    .pop_thumb > .pop_thumb_progress_bar {
        background-color: unset;
        text-shadow: rgb(0, 0, 0) 1px 1px 0px, rgb(0, 0, 0) -1px 1px 0px, rgb(0, 0, 0) -1px -1px 0px,
            rgb(0, 0, 0) 1px -1px 0px;
    }

    .pop_thumb_selected {
        box-shadow: 0px 0px 7px 1px;
        color: #f90;
    }

    .pop_thumb_container {
        min-height: 99px;
        .pop_thumb_expanded,
        .pop_thumb_active,
        .pop_thumb_greyed_out {
            height: 99px;
            background: linear-gradient(0deg, #00000087, transparent);
        }
    }

    .pop_thumb_greyed_out {
        height: 99px;
        .pop_thumb_title {
            display: block;
            margin-top: 0px;
        }
    }

    .pop_thumb_active > button {
        position: relative;
        top: -44px;
    }

    .collect_notif {
        margin-top: -88px;
        margin-left: 74px;
    }

    @each $id, $carac, $reward in $pops {
        .pop_thumb[pop_id="#{$id}"] {
            & > .pop_thumb_space {
                &:before {
                    background-image: map-get($classIcons, $carac);
                }

                &:after {
                    background-image: map-get($rewardIcons, $reward);
                    @if map-has-key($rewardBGSizes, $reward) {
                        background-size: map-get($rewardBGSizes, $reward) !important;
                    }
                }
            }

            @if map-has-key($rewardBorders, $reward) {
                $color: map-get($rewardBorders, $reward);
                border-color: $color;
                color: $color;
            }
        }
    }
}

[rel="pop_thumb_info"] {
    position: relative;
    top: -44px;
}

.pop_thumb > .pop_thumb_space:before {
    content: " ";
    display: block;
    position: relative;
    height: 24px;
    width: 24px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    top: 0px;
    left: 0px;
    margin-bottom: -24px;
    background-color: #290f16;
    border: 2px solid #290f16;
}

.pop_thumb > .pop_thumb_space:after {
    content: " ";
    display: block;
    position: relative;
    height: 24px;
    width: 24px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    top: 0px;
    left: 24px;
    margin-bottom: -24px;
    background-color: #290f16;
    border: 2px solid #290f16;
    border-bottom-right-radius: 5px;
}
