@import "./constants.scss";

.hideDefault [hero=xp], .hideDefault [hero=xp_sep], .hideDefault [hero=xp_max], [hero=soft_currency] {
    display: none;
}

.scriptMoneyContainer {
    margin-left: -1px;
}

@media #{$mediaMobile} {
    .scriptMoneyContainer {
        position: absolute;
        top: 2px;
        left: 40px;
        font-size: 16px;
    }
}
