@import "./constants.scss";

#arena_filter_box label.head-group {
    display: block;
    position: relative;
    left: -5px;
    z-index: 15;
    margin-bottom: -8px;
    margin-top: -3px !important;
    padding-left: 7px;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.22px;
    text-align: left !important;
    color: #ffb827;
    background: transparent;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000,
        -2px -2px 5px rgba(255, 159, 0, 0.4), 2px -2px 5px rgba(255, 159, 0, 0.4), -2px 2px 5px rgba(255, 159, 0, 0.4),
        2px 2px 5px rgba(255, 159, 0, 0.4), 0 0 10px rgba(255, 159, 0, 0.4);
}

#shops #girls_list .g1 > div > .number {
    left: 0 !important;
}

#shops label.girl_filter {
    background: transparent;
    input {
        height: 32px;
        width: 32px;
        display: block;
        padding: 0px;
    }
    &::before {
        content: " ";
        display: block;
        position: absolute;
        height: 100%;
        width: 100%;
        background-position: center;
        background-size: 24px;
        background-repeat: no-repeat;
        pointer-events: none;
    }
}

#arena_filter_box .button-group {
    display: flex;
}

#shops label.clear_girl_filter {
    background: transparent;
    input {
        height: 36px;
        width: 36px;
        display: block;
        padding: 0px;
    }
    &::before {
        content: " ";
        display: block;
        position: absolute;
        height: 36px;
        width: 36px;
        background-color: #fff;
        -webkit-mask-position: center;
        mask-position: center;
        -webkit-mask-size: 24px;
        mask-size: 24px;
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        pointer-events: none;
    }
}

#arena_filter_box {
    position: absolute;
    left: -215px;
    width: 200px;
    height: -moz-fit-content;
    height: fit-content;
    z-index: 3;
    border-radius: 8px 10px 10px 8px;
    background-color: rgb(30, 38, 30);
    box-shadow: rgba(255, 255, 255, 0.73) 0px 0px;
    padding: 5px;
    border: 1px solid rgb(255, 162, 62);
}

.team-selection {
    position: absolute;
    left: 0px;
    bottom: -208px;
    width: 400px;
    height: fit-content;
    border-radius: 8px 10px 10px 8px;
    background-color: #1e261e;
    box-shadow: rgba(255, 255, 255, 0.73) 0px 0px;
    padding: 5px;
    border: 1px solid #ffa23e;
    z-index: 10;
    padding-bottom: 16px;
}

.teams-grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-row-gap: 1rem;
    padding: 0.4rem 0.9rem 0.4rem 0.9rem;
    margin-right: -1rem;
    & > img {
        border-radius: 0.4rem;
    }
}

.close-team-selection {
    position: absolute;
    display: block;
    background-size: cover;
    height: 32px;
    width: 35px;
    top: -16px;
    right: -17px;
    cursor: pointer;
}

[rel="select-team"] {
    width: 100%;
    height: 36px;
    padding-top: 5px;
}

.theme-icons {
    position: absolute;
    bottom: -10px;
}

.theme-icon {
    width: 26px;
}

@media #{$mediaDesktop} {
    label.girl_filter {
        position: absolute;
        left: -2px;
        top: -12px;
    }
    #arena_filter_box {
        top: -230px;
    }
}

@media #{$mediaMobile} {
    label.girl_filter {
        position: absolute;
        left: -2px;
        top: 0px;
    }
    #arena_filter_box {
        top: -218px;
    }
}
