#missions .missions_wrap .mission_object.mission_entry.common {
    background: #ffffff20
}

#missions .missions_wrap .mission_object.mission_entry.rare {
    background: #32bc4f30;
}

#missions .missions_wrap .mission_object.mission_entry.epic {
    background: #ffb24440;
}

#missions .missions_wrap .mission_object.mission_entry.legendary {
    background: #6ebeff40;
}