.script-fight-a-villain-menu-overlay {
    display: none;
    background-color: #0808087a;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;

    &.shown {
        display: block;
    }
}

.script-fight-a-villain-menu-container {
    display: none;
    align-items: center;
    justify-content: center;
    color: #fff;
    width: 1040px;
    height: 585px;
    z-index: 10;
    font-size: 16px;
    pointer-events: none;

    &.shown {
        display: flex;
    }

    .script-fight-a-villain-menu {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-auto-flow: row;
        grid-gap: 0.3em;
        padding: 0.5em;
        border-radius: 5px;
        border-width: 5px;
        border-style: solid;
        border-color: #cccccc42;
        background-color: #080808f5;
        pointer-events: all;

        &.width-1 {
            grid-template-columns: 1fr;
        }
        &.width-2 {
            grid-template-columns: 1fr 1fr;
        }
        &.width-3 {
            grid-template-columns: 1fr 1fr 1fr;
        }
        &.width-4 {
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }

        .menu-villain {
            text-decoration: none;
            color: unset;
            background-color: #cccccc5a;
            display: block;
            padding: 0.2em;
            border-radius: 0.3em;

            &:hover {
                background-color: #cccccc72;
            }

            &.all-obtained {
                background-color: #cccccc32;
                &:hover {
                    background-color: #cccccc72;
                }
            }

            &.eventTroll {
                &.common {
                    background-color: #8d8e9fad;
                    &:hover {
                        background-color: #b4b5c9ad;
                    }
                }

                &.rare {
                    background-color: #23b56b70;
                    &:hover {
                        background-color: #2bdf8470;
                    }
                }

                &.epic {
                    background-color: #ffb24470;
                    &:hover {
                        background-color: #ffc97b70;
                    }
                }

                &.legendary {
                    background-color: #9150bf8a;
                    &:hover {
                        background-color: #9150bfd6;
                    }
                }
            }

            &.mythicEventTroll {
                background-color: #ec003970;

                &:hover {
                    background-color: #ff003e70;
                }
            }

            &-top {
                display: flex;
                justify-content: space-between;
            }
            &-icon {
                width: 2.5rem;
                height: auto;
            }
            &-name-and-drops {
                flex: 1;
                padding: {
                    left: 0.5em;
                    right: 0.5em;
                }
                display: flex;
                flex-direction: column;
            }
            &-name {
                font-size: 0.75em;
            }
            &-drops {
                display: flex;
            }
            &-drop {
                display: block;
                width: 1.3em;
                height: auto;
            }
            &-gem-drop-container {
                width: 1.5em;
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            &-gem-drop-amount {
                position: absolute;
                bottom: -0.5em;
                font-size: 0.9em;
                text-shadow: 1px 1px 0 #000, -1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000;
            }
            &-world {
                img {
                    width: 1.5em;
                    height: auto;
                    display: block;
                }

                &:hover {
                    filter: drop-shadow(0px 0px 3px #fff);
                }
            }
            &-bottom {
                display: grid;
                grid-template-columns: 3fr 1fr 1fr 1fr;
                grid-gap: 0.2em;

                .girl_ico {
                    position: relative;
                    width: fit-content;

                    &.obtained {
                        border-color: #75b400;
                        &::after {
                            content: " ";
                            position: absolute;
                            background-image: var(--girl-ico-tick);
                            background-size: contain;
                            background-repeat: no-repeat;
                            display: block;
                            width: 1em;
                            height: 1em;
                            top: 0;
                            right: 0;
                        }
                    }

                    img {
                        width: 2em;
                        height: auto;
                    }
                    .shard-count {
                        position: absolute;
                        text-align: center;
                        display: block;
                        width: 100%;
                        font-size: 0.7em;
                        bottom: -0.125em;
                        color: #80058b;
                        text-shadow: 1px 1px 0 #fff, -1px 1px 0 #fff, -1px -1px 0 #fff, 1px -1px 0 #fff;
                        font-weight: var(--troll-menu-font-weight);

                        .shard {
                            height: 1.4em;
                            width: 1.2em;
                            display: inline-block;
                            background-size: 140%;
                            background-position: center;
                        }
                    }
                }
            }
            &-tier {
                display: flex;
                flex-direction: column;

                &-title {
                    font-size: 0.7em;
                    display: block;
                    width: 100%;
                    height: 1.3em;
                    border-bottom: 1px solid #fff;
                    margin-bottom: 0.2em;
                }

                &-girls {
                    display: grid;
                    grid-gap: 0.2em;

                    &.tier1 {
                        grid-template-columns: 1fr 1fr 1fr;
                    }
                    &.event {
                        grid-template-columns: 1fr;
                    }
                }
            }
        }
    }
}

#contains_all > header [type="fight"] .bar-wrapper {
    cursor: pointer;
}
