@import "../../common/constants.scss";

.script-home-timer {
    color: #999;
    margin-top: -5px;
}

#homepage {
    & > a > .position > span {
        height: auto;
        min-height: 26px;

        @media #{$mediaMobile} {
            height: auto;
            min-height: 44px;
        }
    }
    & > a[rel="pachinko"] > .position > span {
        @media #{$mediaMobile} {
            width: 140px;
        }
        @media #{$mediaDesktop} {
            width: 110px;
        }
    }

    & > a[rel="shop"] > .position > span {
        @media #{$mediaMobile} {
            width: 130px;
        }
        @media #{$mediaDesktop} {
            width: 100px;
        }
    }

    & > a[rel="clubs"] {
        // Move clubs button out of the way of seasons
        top: 148px;
        left: 151px;

        @media #{$mediaMobile} {
            top: 128px;
            left: 194px;
            z-index: 1;
        }

        & > .position {
            width: auto;
            left: 44px;

            & > span {
                @media #{$mediaMobile} {
                    width: 130px;
                }
                @media #{$mediaDesktop} {
                    width: 100px;
                }
            }
        }
    }

    & > a[rel="leaderboard"] {
        height: 167px;
    }

    & > a[rel="sex-god-path"] .position {
        @media #{$mediaMobile} {
            top: 84px;
        }
    }

    .main-container .left-side-container {
        a[rel="clubs"],
        a[rel="sex-god-path"],
        a[rel="pachinko"],
        a[rel="shop"] {
            .notif-position {
                span {
                    display: flex;
                    flex-direction: column;

                    p {
                        margin-top: 0;
                        margin-bottom: 0;
                    }

                    .script-timer-container {
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        width: 100%;
                        margin-top: -5px;

                        .timerClock_icn {
                            width: 50px;
                            background-size: 28px;
                        }
                    }

                    .script-home-timer {
                        color: #fff;
                        text-decoration: none;
                        width: 140px;
                        font-size: 13px;
                    }
                }
            }
        }

        .script-home-shortcut-container,
        .script-league-pos {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            width: 5.875rem;
            padding-left: 8px;
            height: auto;
            margin-top: auto;
            margin-bottom: auto;
            align-items: center;

            a {
                z-index: 6;
            }
        }

        .script-league-pos {
            .script-league-icon {
                height: 50px;
                width: 50px;
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
            }
            .script-league-rank {
                text-shadow: 1px 1px 1px #000, -1px 1px 1px #000, -1px -1px 1px #000, 1px -1px 1px #000;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 24px;
                z-index: 1;

                &-digits-3 {
                    font-size: 16px;
                }
            }
        }
    }
}

.champions_flat_icn {
    background-image: var(--champions-icon);
}

.pantheon_flat_icn {
    background-image: var(--pantheon-icon);
}

.script-home-shortcut-container {
    display: flex;
    height: 30px;
    margin-top: -38px;
    margin-bottom: 8px;
    justify-content: center;

    @media #{$mediaMobile} {
        height: 40px;
        margin-top: -48px;
    }
}

.script-home-shortcut {
    width: 30px;
    height: 30px;
    margin-left: 3px;
    margin-right: 3px;

    @media #{$mediaMobile} {
        width: 40px;
        height: 40px;
        margin-left: 4px;
        margin-right: 4px;
    }

    .clubChampions_flat_icn,
    .champions_flat_icn,
    .pantheon_flat_icn {
        height: 16px;
        width: 16px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;

        @media #{$mediaMobile} {
            height: 22px;
            width: 22px;
        }
    }
}

#home_missions_bar-script {
    position: absolute;
    top: 395px;
    left: 595px;
    font-size: 11px;

    .backbar {
        top: 20px;
        height: 7px;
        width: 140px;
        overflow: hidden;
    }

    .text {
        top: 9px;
        width: 150px;
    }
}

.script-salary-summary {
    width: 11rem;
    font-size: 12px;

    table {
        margin-left: auto;
        margin-right: auto;
    }

    td:first-child {
        text-align: right;
    }
    td:last-child {
        text-align: left;
        width: 3.5rem;
    }

    .hudSC_mix_icn {
        display: inline-block;
        width: 14px;
        height: 14px;
        background-size: contain;
    }
}

#collect_all {
    position: relative;
    z-index: 1;

    .script-event-handler-hack {
        display: none;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
    }

    &[disabled] .script-event-handler-hack {
        display: block;
    }
}

// TODO Remove when KK fix this bug. Fixes the position of the reward notification icon on seasons and pov buttons
#homepage
    .main-container
    .middle-container
    .waifu-and-right-side-container
    .right-side-container
    .event-container
    .season-pov-container
    .pov-button
    > a,
#homepage
    .main-container
    .middle-container
    .waifu-and-right-side-container
    .right-side-container
    .event-container
    .season-pov-container
    .season-button
    > a {
    display: block;
}

$messenger-primary: #fff;
$messenger-secondary: #000;

.messenger-link {
    .energy_counter {
        position: absolute;
        color: $messenger-primary;
        text-shadow: 1px 1px 0px $messenger-secondary, -1px 1px 0px $messenger-secondary,
            -1px -1px 0px $messenger-secondary, 1px -1px 0px $messenger-secondary;
        text-align: center;

        .energy_counter_amount_container {
            display: flex;
            align-items: center;

            .energy_counter_amount {
                display: flex;
                align-items: baseline;
                font-size: 12px;
                [energy] {
                    font-size: 20px;
                }
            }
        }
        [rel="count_txt"] {
            font-size: 14px;
            line-height: 16px;
            [rel="count"] {
                display: block;
            }
        }
    }

    .messenger-reply-timer {
        display: none;
    }
}
