.script-blessing-spreadsheet-link {
    position: absolute;
    top: 0.25rem;
    right: 3.5rem;
    color: #8ec3ff;
    text-decoration: none;
    display: flex;
    align-content: center;
    align-items: center;
    max-width: 14rem;
    font: normal normal normal 14px/18px Tahoma, Helvetica, Arial, sans-serif;

    .nav_grid_icn {
        margin-right: 1rem;
    }

    &:hover {
        text-decoration: underline;
    }
}
