label.equip_filter {
    background: transparent;
    position: absolute;
    width: 32px;

    #my-hero-equipement-tab-container & {
        top: 92px;
    }

    #equipement-tab-container .right-container & {
        top: 62px;
    }

    input {
        height: 32px;
        width: 32px;
        display: block;
        padding: 0px;
    }

    &::before {
        content: " ";
        display: block;
        position: absolute;
        height: 100%;
        width: 100%;
        background-position: center;
        background-size: 24px;
        background-repeat: no-repeat;
        background-image: var(--filter-icon);
        pointer-events: none;
    }
}

.equip_filter_box {
    position: absolute;
    width: 200px;
    height: -moz-fit-content;
    height: fit-content;
    z-index: 3;
    border-radius: 8px 10px 10px 8px;
    background-color: rgb(30, 38, 30);
    box-shadow: rgba(255, 255, 255, 0.73) 0px 0px;
    padding: 5px;
    border: 1px solid rgb(255, 162, 62);

    #my-hero-equipement-tab-container & {
        top: 92px;
        left: 18px;
    }

    #equipement-tab-container .right-container & {
        top: 62px;
        left: 380px;
    }

    label {
        background: transparent;
        width: auto;
        height: 100%;
        margin: 0px;
        border-radius: 5px;
        display: block;
    }

    .grid-selector input {
        &:checked + label,
        &:hover + label {
            background-color: #fff8;
        }
    }
}

.grid-selector {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
}

.grid-selector:last-child {
    margin-bottom: 0px;
}

.grid-selector input {
    display: none;
}

.grid-selector .selector-options {
    width: -moz-fit-content;
    width: fit-content;
    display: grid;
    grid-gap: 2px;
}

.grid-selector .selector-options img {
    height: 32px;
    width: 32px;
    margin: 2px;
}

.grid-selector .selector-options div {
    height: 28px;
    width: 28px;
    margin: 4px;
    border-radius: 5px;
}

.grid-selector .clear-selector {
    width: -moz-fit-content;
    width: fit-content;
    margin-right: 5px;
}

.grid-selector .clear-selector img {
    height: 36px;
    width: 36px;
}

.slot .favourite-toggle {
    position: absolute;
    display: none;
    height: 32px;
    width: 32px;
    top: 0px;
    right: 0px;
    background-size: 22px;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.slot:hover[data-is-favourite="false"] .favourite-toggle,
.slot[data-is-favourite="true"] .favourite-toggle {
    display: block;
}

.slot[data-is-favourite="false"] .favourite-toggle {
    background-image: var(--star-icon-white);
    opacity: 0.7;
}

.slot[data-is-favourite="true"] .favourite-toggle {
    background-color: rgba(30, 38, 30, 0.7);
    background-image: var(--star-icon-orange);
}
