@import "../../common/constants.scss";

#shops label.girl_filter {
    background: transparent;
    input {
        height: 32px;
        width: 32px;
        display: block;
        padding: 0px;
    }
    &::before {
        content: " ";
        display: block;
        position: absolute;
        height: 100%;
        width: 100%;
        background-position: center;
        background-size: 24px;
        background-repeat: no-repeat;
        background-image: var(--filter-icon);
        pointer-events: none;
    }
}

#arena_filter_box {
    position: absolute;
    left: 146px;
    width: 400px;
    height: -moz-fit-content;
    height: fit-content;
    z-index: 3;
    border-radius: 8px 10px 10px 8px;
    background-color: rgb(30, 38, 30);
    box-shadow: rgba(255, 255, 255, 0.73) 0px 0px;
    padding: 5px;
    border: 1px solid rgb(255, 162, 62);
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;

    .button-group {
        display: flex;
    }

    label.clear_girl_filter {
        background: transparent;
        input {
            height: 36px;
            width: 36px;
            display: block;
            padding: 0px;
        }
        &::before {
            content: " ";
            display: block;
            position: absolute;
            height: 36px;
            width: 36px;
            background-color: #fff;
            -webkit-mask-position: center;
            mask-position: center;
            -webkit-mask-size: 24px;
            mask-size: 24px;
            -webkit-mask-repeat: no-repeat;
            mask-repeat: no-repeat;
            -webkit-mask-image: var(--cross-icon);
            mask-image: var(--cross-icon);
            pointer-events: none;
        }
    }

    &.form-wrapper > .form-control {
        & > .select-group .selectric-items {
            height: auto;

            li {
                height: auto;
                padding-top: 0;
                padding-bottom: 0;

                & > span {
                    height: auto;
                    width: auto;
                    &[carac] {
                        padding-right: 10px;
                    }
                }
                .element-icon {
                    height: 30px;
                    width: 30px;
                    background-size: contain;
                    background-position: center;
                    margin-right: 10px;
                }
                &:first-of-type {
                    padding-left: 5px;
                }
            }
        }
        &.script-filter-element > .select-group .selectric-items {
            li {
                padding-top: 2px;
                padding-bottom: 2px;
            }
        }
    }
}

.team-selection {
    position: absolute;
    left: 146px;
    top: 186px;
    width: 400px;
    height: fit-content;
    border-radius: 8px 10px 10px 8px;
    background-color: #1e261e;
    box-shadow: rgba(255, 255, 255, 0.73) 0px 0px;
    padding: 5px;
    border: 1px solid #ffa23e;
    z-index: 10;
    padding-bottom: 16px;
}

.teams-grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-row-gap: 1rem;
    padding: 0.4rem 0.9rem 0.4rem 0.9rem;
    margin-right: -1rem;
    & .team-slot-container > img {
        border-radius: 0.4rem;
    }
}

.close-team-selection,
.close-filter {
    position: absolute;
    display: block;
    background-size: cover;
    background-image: var(--cross-icon);
    height: 32px;
    width: 35px;
    top: -16px;
    right: -17px;
    cursor: pointer;
}

[rel="select-team"] {
    width: 100%;
    height: 36px;
    padding-top: 5px;
}

.theme-icons {
    position: absolute;
    bottom: -10px;
}

.theme-icon {
    width: 26px;
}

@media #{$mediaDesktop} {
    label.girl_filter {
        position: absolute;
        left: -2px;
        top: -12px;
    }
    #arena_filter_box {
        top: 82px;
    }
}

@media #{$mediaMobile} {
    label.girl_filter {
        position: absolute;
        left: -2px;
        top: 0px;
    }
    #arena_filter_box {
        top: 98px;
    }
}
