@import "../../common/constants.scss";

#arena_filter_box {
    position: absolute;
    width: 400px;
    right: 408px;
    z-index: 99;
    border-radius: 8px 10px 10px 8px;
    background-color: #1e261e;
    box-shadow: rgba(255, 255, 255, 0.73) 0px 0px;
    padding: 5px;
    border: 1px solid #ffa23e;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;

    @media #{$mediaMobile} {
        top: 98px;
    }

    @media #{$mediaDesktop} {
        top: 66px;
    }

    &.form-wrapper > .form-control {
        & > .select-group .selectric-items {
            height: auto;

            li {
                height: auto;
                padding-top: 0;
                padding-bottom: 0;

                & > span {
                    height: auto;
                    width: auto;
                    &[carac] {
                        padding-right: 10px;
                    }
                }
                .element-icon {
                    height: 30px;
                    width: 30px;
                    background-size: contain;
                    background-position: center;
                    margin-right: 10px;
                }
                &:first-of-type {
                    padding-left: 5px;
                }
            }
        }
        &.script-filter-element > .select-group .selectric-items {
            li {
                padding-top: 2px;
                padding-bottom: 2px;
            }
        }
    }
}

.change-team-panel #filter_girls {
    display: none;
}

.change-team-panel #arena_filter {
    // position: absolute;
    height: 32px;
    width: 32px;
    padding: 0;
    float: left;

    @media #{$mediaMobile} {
        //     top: 99px;
        //     right: 98px;
        margin-top: 5px;
    }

    // @media #{$mediaDesktop} {
    //     top: 76px;
    //     right: 98px;
    // }

    .filter_mix_icn {
        display: block;
        height: 32px;
        width: 24px;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: var(--filter-icon);
        margin: auto;
    }
}

@media #{$mediaMobile} {
    #edit-team-page .change-team-panel.harem-panel {
        margin-top: 17px;
    }
}
