@import "../../common/constants.scss";

.gemStock {
    display: block;
    position: absolute;
    background-size: contain;
    height: 34px;
    width: 34px;
    z-index: 30;
    background-image: var(--gem-stock-icon);
    top: 12px;
    right: 200px;

    @media #{$mediaMobile} {
        top: 23px;
        right: 405px;
    }

    &-table img {
        height: 25px;
        width: 25px;
    }
}
