.script-season-leaderboard-fix {
    position: fixed;
    bottom: 30px;
    width: 904px;
}

.pantheon-container #leaderboard_tab_container .leaderboard_list .player-row.script-pantheon-leaderboard-fix {
    position: static;
    bottom: auto;
    width: 100%;
}
