@import "../../common/constants.scss";

$plus: #66cd00;
$minus: #ff2f2f;
$close: #ffa500;
$plus-bg: #66cd0028;
$minus-bg: #ff2f2f28;

#leagues {
    .matchRating {
        text-shadow: 1px 1px 0 #000, -1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000;

        &-win-chance {
            margin-top: 5px;

            &.plus {
                color: $plus;
            }
            &.minus {
                color: $minus;
            }
            &.close {
                color: $close;
            }
        }

        @media #{$mediaDesktop} {
            text-align: center;
            margin-top: -5px;
            font-size: 12px;
            line-height: 12px;

            &-value {
                font-size: 16px;
                line-height: 16px;
            }

            &-key,
            &-value {
                display: block;
            }
        }

        @media #{$mediaMobile} {
            margin-left: 75px;
            margin-top: -31px;
            margin-bottom: -8px;
            font-size: 16px;
            line-height: 16px;

            &-value {
                margin-left: 5px;
            }
        }
    }

    .average-lvl {
        text-align: center;
    }

    .gridWrapper {
        margin-top: -42px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 24px;
        z-index: 0;
    }

    .player_block .team-hexagon-container .icon {
        z-index: 1;
    }
}

.probabilityTable {
    tr {
        line-height: 16px;
        color: #fff;

        &:nth-of-type(odd) {
            background-color: rgba(0, 0, 0, 0.2);
        }

        &:nth-of-type(even) {
            &[data-tint="w"] {
                background-color: $plus-bg;
            }
            &[data-tint="l"] {
                background-color: $minus-bg;
            }
        }
    }

    .plus {
        color: $plus;
    }
    .minus {
        color: $minus;
    }
    .close {
        color: $close;
    }
}

#season-arena {
    .matchRating {
        text-align: center;
        text-shadow: 1px 1px 0 #000, -1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000;
        line-height: 21px;
        font-size: 16px;
        margin-top: -10px;

        [cur="victory_points"]::before {
            background-image: var(--mojo-icon-s);
            width: 14px;
            height: 14px;
            position: relative;
            top: -4px;
            filter: drop-shadow(0px 0px 1px #000);
        }
    }

    .plus {
        color: $plus;
    }
    .minus {
        color: $minus;
    }
    .close {
        color: $close;
    }
    .season_arena_block.opponent .hero_team {
        padding: 0px;
    }

    .gridWrapper {
        margin-top: -26px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 24px;
        z-index: 0;
        pointer-events: none;
    }

    .average-lvl {
        text-align: center;
    }
}

#pre-battle {
    .plus {
        color: $plus;
    }

    .minus {
        color: $minus;
    }

    .close {
        color: $close;
    }

    .gridWrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
    }

    .matchRating {
        text-align: center;
        font-size: 16px;
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;

        .short-circuit {
            display: inline-block;
            width: 20px;
            height: 20px;
            background-size: contain;
            margin-left: 6px;
        }
    }

    .fighter-team .team-hexagon-container .average-lvl {
        text-align: center;
        margin-top: 0px;
        line-height: 26px;
    }
}
