@mixin text-stroke-hack {
    text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black,
        0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;
}
